<!DOCTYPE HTML>
<html>
    <head>
        <title>Sticky Notes - Home</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    </head>
    <body>
        <h1>Sticky Notes</h1>
        <p>Welcome to Sticky Notes, an online Post-it bulletin! Ready to start?</p>
        <button id="get-started" onclick="document.location = '/get_started'">Get Started</button>
    </body>
</html>